* {
    margin:0px;
    border:0px;
    padding:0px;
    box-sizing: border-box;
    vertical-align: top;
    font-size: x-large;
    /* outline:red 1px dotted; */
}
input, textarea {
    border:2px black solid;
}
input[type="submit"] {
    box-shadow: 5px 5px 5px black;
}
li {
    color:red;
}
.trash {
    width:2.5vw;
}
.danger {
    width:600px;
}